/**----------------------------------------Be the host **/
.host-title {
    margin: auto;
    max-width: 20rem;
}

.host-img {
    width: 100%;
    margin: auto;
}

.card-img-top {
    height: 20vw;
    object-fit: contain;
    margin: auto;
    padding-top: 10px;
}
/* fonts */


/* header */

.logo img {
    width: 133px;
    height: auto;
}