<<<<<<< HEAD
/**----------------------------------------Be the host **/
.host-title {
    margin: auto;
    max-width: 20rem;
}

.host-img {
    width: 100%;
    margin: auto;
=======
/* fonts */


/* header */

.logo img {
    width: 133px;
    height: auto;
>>>>>>> 3c1d3a934652eafaf351940e4f5af47de01a15c9
}